<div class="navbar justify-between bg-white shadow-md">
    <div>
      <app-sidebar></app-sidebar>
      <div class="flex">
        <a class="btn btn-ghost text-xl text-main" (click)="redirectToHomePage()">History Monument App</a>
      </div>
      <app-search></app-search>
    </div>
    <div class="justify-end gap-2 mr-2">
      <ng-container *ngIf="isUserLoggedIn; else registerLoginPanel">
        <div class="dropdown dropdown-end">
          <div class="flex flex-row pl-2">
            <h1 class="flex justify-end pt-3 pr-2 w-96 overflow-hidden text-ellipsis">UserNamePlaceholder</h1>
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
              <div class="w-10 rounded-full">
                <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
              </div>
            </div>
          </div>
          <ul tabindex="0" class="mt-3 z-[1] p-2 shadow-md menu menu-sm dropdown-content bg-white rounded-box w-52">
            <li>
              <a>Profile</a>
            </li>
            <li>
              <a>Settings</a>
            </li>
            <li>
              <a>Logout</a>
            </li>
          </ul>
        </div>
      </ng-container>
      <ng-template #registerLoginPanel>
        <app-login (goToRegister)="openRegisterModal()"></app-login>
        <app-register (goToLogin)="openLoginModal()"></app-register>
      </ng-template>
    </div>
  </div>
