<div class="bg-white shadow-lg p-10 mx-10 mt-4 mb-10 rounded-2xl">
    <form [formGroup]="commentFormGroup" (submit)="createComment()">
        <input type="text" formControlName="comment" placeholder="Type a comment" (click)="commentInputClicked()" class="input w-full bg-white border-light-grey" />
        <div *ngIf="isClicked" class="gap-2 flex justify-end mt-2">
            <button class="btn bg-white shadow-md border-light-grey hover:bg-white hover:border-light-grey" (click)="cancelClicked()">Cancel</button>
            <button type="submit" class="btn bg-main text-white border-none hover:bg-main hover:opacity-70">Comment</button>
        </div>
    </form>
    <div class="divider divider-start mt-8">Comments</div>
    <ng-container *ngIf="comments; else noCommentsMessage">
        <ng-container *ngFor="let comment of comments">
            <app-comment-list-item [commentData]="comment"></app-comment-list-item>
        </ng-container>
    </ng-container>
    <ng-template #noCommentsMessage>
        <div class="font-bold">Looks like there are no comments yet.</div>
    </ng-template>
</div>
