<div class="join ml-48">
    <div>
      <div>
        <input class="input input-bordered join-item w-96 bg-white shadow-sm" placeholder="Search"/>
      </div>
    </div>
    <select class="select select-bordered join-item bg-white shadow-sm">
      <option disabled selected>Serch by</option>
      <option>Title</option>
      <option>User</option>
      <option>Localisation</option>
    </select>
    <div class="indicator">
      <button class="btn join-item bg-main border-none text-white">Search</button>
    </div>
</div>
