<!-- <form>
    <div class="join flex flex-row">
            <div>
                <input class="join-item rounded-l-lg p-8" placeholder="Search"/>
            </div>
            <select class="rounded-r-lg join-item">
                <option disabled selected>Category</option>
                <option>Military structures</option>
                <option>Religious objects</option>
                <option>Palaces and villas</option>
                <option>Industrial structures</option>
                <option>Other</option>
            </select>
    </div>
</form> -->