<button #openModalBtn class="btn bg-white shadow-md border-light-grey hover:bg-white hover:border-light-grey" onclick="register_modal.showModal()">Sign up</button>
<dialog id="register_modal" class="modal">
  <div class="modal-box bg-white p-8">
    <form method="dialog">
      <button #closeBtn class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <h3 class="font-bold text-lg text-main">Sign In</h3>
    <div class="modal-action justify-center">
      <form [formGroup]="registerFormGroup" method="dialog" (submit)="register()">
          <div class="flex flex-col">
              <input type="text" placeholder="user name" formControlName="userName" class="input input-bordered bg-white shadow-sm w-full max-w-xs mb-4" />
              <input type="email" placeholder="Email" formControlName="email" class="input input-bordered bg-white shadow-sm w-full max-w-xs mb-4" />
              <input type="password" placeholder="Password" formControlName="password" min="8" class="input input-bordered bg-white shadow-sm w-full max-w-xs mb-4" />
              <span class="text-sm mt-4 flex flex-row">You already have an account? <p (click)="redirectToLogin()" class="link text-sm ml-1">Log in</p></span>
              <button class="btn bg-main text-white border-none mt-2 w-80 hover:bg-main hover:opacity-70">Sign up</button>
          </div>
      </form>
    </div>
  </div>
</dialog>
