<div class="flex flex-col justify-center">
    <div class="bg-white shadow-lg p-10 mx-60 mt-10 mb-10 rounded-2xl flex flex-wrap justify-center">
        <form class="w-full" [formGroup]="newPostFormGroup">
            <ng-container *ngIf="activeStep === steps.AddDescription">
                <div class="w-full">
                    <div class="label">
                        <span class="label-text">Title</span>
                    </div>
                    <input formControlName="title" maxlength="100" type="text" placeholder="Title" class="input input-bordered bg-white shadow-md w-full" />
                    <div class="label">
                        <span class="label-text">Category</span>
                    </div>
                    <select formControlName="category" class="select select-bordered join-item bg-white shadow-md">
                        <option class="font-semibold" disabled selected>Category</option>
                        <option [ngValue]="categories.IndustrialObjects" value="searchOptions.Title" class="font-semibold">{{categories.IndustrialObjects}}</option>
                        <option [ngValue]="categories.MilitaryStructures" value="searchOptions.User" class="font-semibold">{{categories.MilitaryStructures}}</option>
                        <option [ngValue]="categories.PalacesAndVillas" value="searchOptions.Label" class="font-semibold">{{categories.PalacesAndVillas}}</option>
                        <option [ngValue]="categories.ReligiousObjects" value="searchOptions.Label" class="font-semibold">{{categories.ReligiousObjects}}</option>
                        <option [ngValue]="categories.Other" value="searchOptions.Label" class="font-semibold">{{categories.Other}}</option>
                      </select>
                    <div class="label">
                        <span class="label-text">Description</span>
                    </div>
                    <textarea formControlName="description" placeholder="Description" maxlength="1000" class="textarea textarea-bordered bg-white shadow-md h-40 w-full" placeholder="Enter monument description"></textarea>
                </div>
            </ng-container>
            <ng-container *ngIf="activeStep === steps.AddLocalisation">
                <!-- placeholder for the interactive map for dev purposes, later to be replaced by an actual map-->
                <input formControlName="localisation" type="text" placeholder="localisation" class="input input-bordered bg-white shadow-md w-full">
                <!--  -->
            </ng-container>
            <ng-container *ngIf="activeStep === steps.AddImages">
                <h1>Post thumbnail</h1>
                <div class="custom-dropzone" ngx-dropzone [maxFileSize]="2000000" [multiple]="false" [accept]="'image/*'" (change)="onSelect($event, imageTypes.Thumbnail)">
                    <ngx-dropzone-label>
                        <div>
                            <h2>Post thumbnail</h2>
                        </div>
                    </ngx-dropzone-label>
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of thumbnail" [file]="f" [removable]="true" (removed)="onRemove(f,imageTypes.Thumbnail)"></ngx-dropzone-image-preview>
                </div>
                <ng-container *ngIf="areMultiplePicturesFeatureEnabled">
                    <h1>Modern Images(optional)</h1>
                    <div class="custom-dropzone-multiple" ngx-dropzone [maxFileSize]="2000000" [accept]="'image/*'" (change)="onSelect($event,imageTypes.Modern)">
                        <ngx-dropzone-label>
                            <div>
                                <h2>Modern Images</h2>
                            </div>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let blb of oldImages" [file]="blb" [removable]="true" (removed)="onRemove(blb,imageTypes.Modern)">
                        </ngx-dropzone-image-preview>
                    </div>
                    <h1>Old Images (optional)</h1>
                    <div class="custom-dropzone-multiple" ngx-dropzone [maxFileSize]="2000000" [accept]="'image/*'" (change)="onSelect($event,imageTypes.Old)">
                        <ngx-dropzone-label>
                            <div>
                                <h2>Old Images</h2>
                            </div>
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let blb of modernImages" [file]="blb" [removable]="true" (removed)="onRemove(blb,imageTypes.Old)">
                        </ngx-dropzone-image-preview>
                    </div>
                </ng-container>
            </ng-container>
            <div class="flex flex-row justify-between mt-5">
                <button (click)="previousStep(this.activeStep)" class="btn shadow-sm bg-white border-light-grey hover:bg-light-grey hover:opacity-70 hover:border-light-grey">Previous Step</button>
                <button (click)="nextStep(this.activeStep)" class="btn bg-main text-white border-none hover:bg-main hover:opacity-70 font-bold">{{getBtnLabel()}}</button>
            </div>
        </form>
    </div>
    <ul class="steps px-80">
        <li class="step step-info font-semibold">Describe monument</li>
        <li class="step font-semibold" [ngClass]="{'step-info': activeStep !== steps.AddDescription}">Share localisation</li>
        <li class="step font-semibold" [ngClass]="{'step-info': activeStep === steps.AddImages}">Add images</li>
    </ul>
</div>