<div class="toast toast-top toast-center" *ngIf="errorMessage !== ''">
  <div role="alert" class="alert alert-error">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
    <span>{{errorMessage}}</span>
  </div>
</div>
<div class="hero min-h-screen bg-light-grey">
    <div class="hero-content pr-96 flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold text-white">{{isLoginFormVisible ? 'Login now!' : 'Sign up!'}}</h1>
        <p class="py-6 text-white">{{isLoginFormVisible ? 'Login to' : 'Create an account to become an active member of history and monument lovers community and'}} get access to all of the functions of the application</p>
      </div>
      <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-white">
        <form [formGroup]="authFormGroup" (submit)="loginOrRegister()" class="card-body">
          <div *ngIf="!isLoginFormVisible" class="form-control">
            <label class="label">
              <span class="label-text">User name</span>
            </label>
            <input type="email" formControlName="userName" placeholder="user name" class="input input-bordered bg-white shadow-md" required />
            <ng-container *ngIf="isFormErroneous('userName')">
              <div class="text-error">
                <p>This field is required.</p>
              </div>
            </ng-container>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input type="email" formControlName="email" placeholder="email" class="input input-bordered bg-white shadow-md" required />
            <ng-container *ngIf="isFormErroneous('email')">
              <div class="text-error">
                <p *ngIf="authFormGroup.controls['email'].errors?.['email']">
                  Please, enter valid email address.
                </p>
                <p *ngIf="authFormGroup.controls['email'].errors?.['required']">
                  This field is required.
                </p>
              </div>
            </ng-container>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Password</span>
            </label>
            <input type="password" formControlName="password" placeholder="password" class="input input-bordered bg-white shadow-md" minlength="5" required />
            <ng-container *ngIf="isFormErroneous('password')">
              <div class="text-error">
                <p *ngIf="authFormGroup.controls['password'].errors?.['required']; else tooShort">
                  This field is required.
                </p>
                <ng-template #tooShort>
                  <p>
                    Password needs to be at least 5 characters long.
                  </p>
                </ng-template>
              </div>
            </ng-container>
          </div>
          <span class="text-sm mt-4 flex flex-row">{{isLoginFormVisible ? youDontHaveAnAccountMessage : youAlreadyHaveAnAccountMessage}}
            <a class="ml-1" routerLink="{{isLoginFormVisible ? '/auth/register' : '/auth/login'}}">
              {{isLoginFormVisible ? 'Sign up' : 'Login'}}
            </a>
          </span>
          <div class="form-control mt-6">
            <button type="submit" class="btn bg-main text-white border-none hover:bg-main hover:opacity-70">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>