<div class="hero min-h-screen bg-light-grey">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold text-white">{{isLoginFormVisible ? 'Login now!' : 'Sign up!'}}</h1>
        <p class="py-6 text-white">{{isLoginFormVisible ? 'Login to' : 'Create an account to become an active member of history and monument lovers community and'}} get access to all of the functions of the application</p>
      </div>
      <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-white">
        <form class="card-body">
          <div class="form-control">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input type="email" placeholder="email" class="input input-bordered bg-white shadow-md" required />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Password</span>
            </label>
            <input type="password" placeholder="password" class="input input-bordered bg-white shadow-md" required />
          </div>
          <div class="form-control mt-6">
            <button class="btn bg-main text-white border-none hover:bg-main hover:opacity-70">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>